*{
    margin: 0%;
    padding: 0%;
    background-color: black;
}

#mainPole{
    margin-top: 120px;
    margin-left: 500px;
}

#eats{
    position: absolute;
    width: 97px;
    height: 40px;
    background-color: white;
    border: solid black 3px;
    border-radius: 15px;
    margin-left: 500px;
    text-align: center;
    margin-top: -50px;
    font-size: 25px;
}

#gamebebras{
    color: aliceblue;
}